[Unit]
Description=WG Putz Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/wg-putz-bot
ExecStart=/usr/bin/ruby bot.rb
Restart=always
RestartSec=10
EnvironmentFile=%h/wg-putz-bot/.env

[Install]
WantedBy=multi-user.target
