[Unit]
Description=WG Putz Bot
After=network.target

[Service]
Type=simple
User=wg-py
Group=wg-py
WorkingDirectory=/home/wg-py/wg-putz-bot
ExecStart=/usr/bin/ruby bot.rb
Restart=always
RestartSec=10
EnvironmentFile=/home/wg-py/wg-putz-bot/.env

[Install]
WantedBy=multi-user.target
